*

!frontend
frontend/*
!frontend/package.json
!frontend/package-lock.json
!frontend/index.html
!frontend/postcss.config.js
!frontend/tailwind.config.js
!frontend/tsconfig.json
!frontend/vite.config.ts
!frontend/public
!frontend/public/**
!frontend/src
!frontend/src/**
!frontend/scripts/
!frontend/scripts/**

!nginx
nginx/*
!nginx/Dockerfile
!nginx/default.conf
